body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    border-bottom: 1px solid black;
}

.header .title {
    border: 1px solid black;
    margin: 20px;
    padding: 0 40px;
    width: fit-content;
}

.header .link-repo {
    width: 100px;
    margin: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.details-panel-container {
    flex-grow: 1;
    margin: 0 20px;
}

.details > .button {
    background: #0072ff;
    border: 1px solid black;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    align-items: flex-end;
    width: 140px;
    height: 40px;
    margin-top: auto;
    margin-left: auto;
    cursor: pointer;
}

.details > .button:focus {
    outline: none;
}

.details > .button:hover {
    background: #009fff;
}

.quotes-list-container {
    margin: 0 20px;
    min-width: 200px;
}


.quotes-list {
    border: 1px solid black;
    padding: 0 20px 0 0;
}

.quotes-list > ul > li {
    cursor: pointer;
    position: relative;
}

.quotes-list > ul > li:hover {
    font-weight: 800;
}

.quotes-list > ul > li.highlight {
    font-weight: 800;
}

.details {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    min-height: 350px;
    padding: 10px 20px;
}

.remove-btn {
    position: absolute;
    right: 0;
}

#quote-text {
    font-size: 1.5em;
    margin-bottom: 10px;
}